@font-face {
    font-family: 'Montagu Slab';
    src: url('MontaguSlab-Bold.woff2') format('woff2'),
        url('MontaguSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

